.container {
  width: 'fit-content';
  max-width: 500px;
}

.card {
  padding: 8px 16px;
  position: relative;
  color: white;
}

.imageContainer {
  position: absolute;
  top: 16px;
  right: 32px;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background: hsla(0, 100%, 50%, 1);

  background: linear-gradient(#7d1827 5%, red 49%, black 5%, white 49%, #cadbd1);

  display: flex;
}
